* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    width: 375px;
    background-color: #e5e5e5;
  }
  
  header {
    display: flex;
    height: 48px;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
  }

  a.logo {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    align-self: center;
    color: #6070ff;
    text-decoration: none;
    margin-left: 24px;
  }

  a.union {
    padding-top: 5px;
    margin-right: 35px;
  }